﻿@model WebApplication4.Models.IndexViewModel
@{
    ViewBag.Title = "Kayıt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<section class="page-section about-heading">
    <div class="container">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5" style="background-color:lightcyan">
               <h4>@WebApplication4.Resources.lang.ChangeA</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>@WebApplication4.Resources.lang.Password</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink(WebApplication4.Resources.lang.ChangeP, "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    </section>
