﻿
@{
    ViewBag.Title = "CalismaSaat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">@WebApplication4.Resources.lang.CalismaSaat</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            @WebApplication4.Resources.lang.Gun1 <span class="ml-auto">08:00 / 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            @WebApplication4.Resources.lang.Gun2 <span class="ml-auto">08:00 / 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            @WebApplication4.Resources.lang.Gun3 <span class="ml-auto">08:00 / 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            @WebApplication4.Resources.lang.Gun4 <span class="ml-auto">08:00 / 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            @WebApplication4.Resources.lang.Gun5 <span class="ml-auto">08:00 / 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex today">
                            @WebApplication4.Resources.lang.Gun6 <span class="ml-auto">09:00 / 17:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            @WebApplication4.Resources.lang.Gun7 <span class="ml-auto">@WebApplication4.Resources.lang.Off</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

