﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/img/intro.jpeg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="background-color:gold">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">@WebApplication4.Resources.lang.Metin1</span>
                </h2>
                <p class="mb-3">
                    @WebApplication4.Resources.lang.Metin11
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">@WebApplication4.Resources.lang.Metin112</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">@WebApplication4.Resources.lang.Metin31</span>
                        <span class="section-heading-lower">@WebApplication4.Resources.lang.Metin32</span>
                    </h2>
                    <p class="mb-0">@WebApplication4.Resources.lang.Vizyon</p>
                </div>
            </div>
        </div>
    </div>
</section>

