﻿@model WebApplication4.Models.Kitap

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="col-xl-9 mx-auto">

        <h2>@WebApplication4.Resources.lang.details</h2>

        <div>
            <h4>@WebApplication4.Resources.lang.book</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @WebApplication4.Resources.lang.bookName
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KitapAdı)
                </dd>

                <dt>
                    @WebApplication4.Resources.lang.Sayfa
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SayfaSayısı)
                </dd>

                <dt>
                    @WebApplication4.Resources.lang.Yazar
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KitapYazarı)
                </dd>

            </dl>
        </div>

        <table>
            <tr>
                <th>
                    @WebApplication4.Resources.lang.Yer
                </th>
                <th>
                    @WebApplication4.Resources.lang.blok
                </th>
            </tr>
            @foreach (var item in Model.Kayıt)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KitapYeri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Blok)
                    </td>
                </tr>
            }
        </table>

        <p>

            @Html.ActionLink(WebApplication4.Resources.lang.edit, "Edit", new { id = Model.KitapId }) |
            @Html.ActionLink(WebApplication4.Resources.lang.backToList, "Index")
        </p>
    </div>
</section>