﻿@model WebApplication4.Models.Kitap

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-section cta">
    <div class="col-xl-9 mx-auto">

        <h2>@WebApplication4.Resources.lang.edit</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>@WebApplication4.Resources.lang.book</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.KitapId)

                <div class="form-group">
                    @WebApplication4.Resources.lang.bookName
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KitapAdı, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KitapAdı, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @WebApplication4.Resources.lang.Sayfa
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SayfaSayısı, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SayfaSayısı, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @WebApplication4.Resources.lang.yazarAdı
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KitapYazarı, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KitapYazarı, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value=@WebApplication4.Resources.lang.Save class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink(@WebApplication4.Resources.lang.backToList, "Index")
        </div>
    </div>
</section>