﻿@model IEnumerable<WebApplication4.Models.Kitap>
@{
    ViewBag.Title = "Kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@WebApplication4.Resources.lang.Books</h2>

<section class="page-section cta">
    <div class="col-xl-9 mx-auto">

        <table class="table">
            <tr>
                <th>
                    @WebApplication4.Resources.lang.bookName
                </th>
                <th>
                    @WebApplication4.Resources.lang.Sayfa
                </th>
                <th>
                    @WebApplication4.Resources.lang.Yazar
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KitapAdı)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SayfaSayısı)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KitapYazarı)
                    </td>
                </tr>
            }

        </table>
    </div>
</section>