﻿
<footer class="footer text-faded text-center py-5">
    <div class="container">
        <h2><u>@WebApplication4.Resources.lang.Language </u></h2>
        <br />
        <ul class="navbar-nav mx-auto">
            <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
            <li>@Html.ActionLink("Engilish", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
            <li>@Html.ActionLink("العربية", "ChangeCulture", "Home", new { lang = "ar", returnurl = this.Request.RawUrl }, null)</li>
        </ul>
    </div>
</footer>


