﻿
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">@WebApplication4.Resources.lang.Welcome</span>
</h1>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/"> @WebApplication4.Resources.lang.Home <span class="sr-only">(current)</span></a>
                </li>
                
                @if (!Request.IsAuthenticated)
                {
                    <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/Account/Login">@WebApplication4.Resources.lang.Login</a>
                </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/Kitaps/Kitaplar">@WebApplication4.Resources.lang.Books</a>
                    </li>
                }
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/CalismaSaat">@WebApplication4.Resources.lang.CalismaSaatleri</a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    // Role Admin ise menüler gözüküyor //
                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="~/Kitaps/Index">@WebApplication4.Resources.lang.UpdateBooks</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/Kitaps/Kitaplar">@WebApplication4.Resources.lang.Books</a>
                        </li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>