﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@WebApplication4.Resources.lang.Metin2</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/business-casual.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_header")
    @RenderBody()
    @Html.Partial("_footer")
</body>
</html>
